#search {
    display: none;
    position: absolute;
    top: 20px;
    left: 47px;

    #close {
        float: right;
        padding: 0%;
        background-color: transparent;
        border: 0px;
        color: var(--white);
    }

    div {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: 62px;
        width: 100%;

        input {
            background-color: transparent;
            border: 1px solid var(--white);
            padding: 15px 0px;
            text-indent: 50px;
        }

        button {
            border: 0px;
            background-color: var(--blue);
            color: var(--white);
        }
    }
}

#search.active {
    display: block;
}

/*
    input {
        background-image: url(https://cdn4.iconfinder.com/data/icons/round-mobile-ui-set/512/letter-message-email-mail-16.png);
        background-position: 15px center;
        background-repeat: no-repeat;
        background-color: transparent;

        width: 70%;
        padding: 15px;
        text-indent: 32px;
        border-color: var(--gray);
        color: var(--white);
    }
}
*/